.projects__inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

@media (max-width: 900px) {
	.projects__inner {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.projects__inner {
		grid-template-columns: repeat(1, 1fr);
		gap: 32px;
	}
}
