.about-me__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.about-me__content {
	max-width: 450px;
}

.about-me__text {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.about-me__paragraph {
	width: 100%;
	text-justify: distribute;
}

.about-me__image {
	width: 340px;
	height: 326px;
	border-bottom: 1px solid var(--color-primary);
}

@media (max-width: 900px) {
	.about-me__inner {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.about-me__content {
		max-width: 100%;
		margin: 0 auto;
	}

	.about-me__image {
		margin: 0 auto;
	}
}
