.page-title {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.5;
	color: var(--color-white);
}

.page-title::before {
	content: '/';
	color: var(--color-primary);
}

@media (max-width: 1280px) {
	.page-title {
		margin-bottom: 10px;
		font-size: 28px;
	}
}

@media (max-width: 1024px) {
	.page-title {
		margin-bottom: 10px;
		font-size: 24px;
	}
}

@media (max-width: 600px) {
	.page-title {
		margin-bottom: 8px;
		font-size: 20px;
	}
}
