.skill-illustration {
	position: relative;
	flex: 1 1 200px;
	max-width: 600px;
	min-width: 400px;
	min-height: 250px;
}

.skill-illustration__item {
	position: absolute;
	animation: main-animation 5s ease-in-out infinite;
}

.skill-illustration__item:nth-child(1) {
	top: 32px;
	left: 0px;
	width: 64px;
	height: 64px;
}

.skill-illustration__item:nth-child(2) {
	top: 0px;
	right: 32px;
	width: 80px;
	height: 80px;
}

.skill-illustration__item:nth-child(3) {
	left: 16px;
	bottom: 0px;
	width: 112px;
	height: 112px;
}

.skill-illustration__item:nth-child(4) {
	left: 50%;
	bottom: 25%;
	transform: translateX(-50%);
	width: 64px;
	height: 64px;
}

.skill-illustration__item:nth-child(5) {
	right: 0px;
	bottom: 48px;
	width: 56px;
	height: 56px;
}

@media (max-width: 1280px) {
	.skill-illustration__item:nth-child(1) {
		top: 28px;
		width: 56px;
		height: 56px;
	}

	.skill-illustration__item:nth-child(2) {
		right: 28px;
		width: 70px;
		height: 70px;
	}

	.skill-illustration__item:nth-child(3) {
		left: 14px;
		width: 98px;
		height: 98px;
	}

	.skill-illustration__item:nth-child(4) {
		width: 56px;
		height: 56px;
	}

	.skill-illustration__item:nth-child(5) {
		bottom: 42px;
		width: 49px;
		height: 49px;
	}
}

@media (max-width: 1024px) {
	.skill-illustration {
		display: none;
	}
}
