.header-button {
	position: relative;
	display: none;
	width: 24px;
	height: 24px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* Центральная линия */
.header-button span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-gray);
	transform: translateY(-50%) scale(1);
	transition: transform 0.3s ease;
}

/* Верхняя и нижняя линии */
.header-button::before,
.header-button::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-gray);
	transition:
		transform 0.3s ease,
		top 0.3s ease,
		bottom 0.3s ease;
}

.header-button::before {
	top: 0;
}

.header-button::after {
	bottom: 0;
}

/* Активное состояние (крестик) */
.header-button--active span {
	transform: translateY(-50%) scale(0);
}

.header-button--active::before {
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.header-button--active::after {
	bottom: auto;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

/* Показываем кнопку на мобилке */
@media (max-width: 900px) {
	.header-button {
		display: block;
	}
}
