.header-media {
	position: fixed;
	top: 0px;
	left: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.header-media__line {
	width: 1px;
	height: 33vh;
	background-color: var(--color-gray);
}

.header-media__link {
	display: grid;
	gap: 8px;
}

.header-media__link-item {
	color: var(--color-white);
	transition: 0.3s ease;
}
.header-media__link-item:hover,
.header-media__link-item:active {
	color: var(--color-primary);
	transition: 0.3s ease;
}

@media (max-width: 1200px) {
	.header-media {
		display: none;
	}
}
