header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	margin-bottom: 60px;
}

.header__container {
	display: flex;
	position: relative;
	z-index: 2;
	align-items: center;
	justify-content: space-between;
	max-width: 1025px;
	margin: 0 auto;
	padding: 32px 10px 8px;
	background-color: var(--color-background-second);
}
