.work__text {
	margin-bottom: 70px;
	line-height: 1.5;
	color: var(--color-white);
}

.work__wrapper {
	display: flex;
	flex-direction: column;
	gap: 70px;
}

@media (max-width: 1280px) {
	.work__text {
		margin-bottom: 60px;
	}

	.work__wrapper {
		gap: 60px;
	}
}

@media (max-width: 1024px) {
	.work__text {
		margin-bottom: 50px;
	}

	.work__wrapper {
		gap: 50px;
	}
}

@media (max-width: 768px) {
	.work__text {
		margin-bottom: 40px;
	}

	.work__wrapper {
		gap: 40px;
	}
}
